:root {
	--font-sans-serif-primary: Roboto, Arial, sans-serif;

	--color-brand-primary: #6cb6a5;
	--color-brand-secondary: #96c3a6;

	--color-neutral-primary: #221d34;
	--color-neutral-secondary: #dae2cb;

	--color-danger-primary: #90425c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-sans-serif-primary);
}

h1 {
	color: var(--color-neutral-primary);
}

h2 {
	color: var(--color-neutral-secondary);
}
